
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

header {
    background-color: #fff;
    color: black;
    padding: 10px;
    border: 1px solid rgb(180, 175, 175);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px;
}

nav li {
    font-family: 'Mulish', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

nav input:focus {
    box-shadow: 0 0 2px 1px rgb(173, 107, 107);
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

.block {
    width: 330px;
    height: 450px;
}

.block:hover {
    box-shadow: 0 0 5px 4px rgb(180, 175, 175);
}

.image {
    width: 330px;
    height: 250px;
}

img {
    width: 100%;
    height: 100%;
}

.image:hover {
    transform: scale(0.9);
}

.box1 {
    display: flex;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    margin-top: 18px;
}

.volume1 {
    border: 1px solid rgb(180, 175, 175);
    border-radius: 15px;
    margin-right: 5px;
    padding: 5px;
    font-size: 10px;
}

.volume2 {
    border: 1px solid rgb(180, 175, 175);
    border-radius: 15px;
    margin-right: 5px;
    padding: 5px;
    font-size: 10px;
}

.volume3 {
    border: 1px solid rgb(180, 175, 175);
    border-radius: 15px;
    margin-right: 5px;
    padding: 5px;
    font-size: 10px;
}

.box3 {
    display: flex;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    margin-top: 18px;
}

.volume4 {
    font-size: 10px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(180, 175, 175);
    color: rgb(137, 1, 1);
    background-color: rgb(137, 1, 1);
    margin-right: -10px;
}

.volume5 {
    font-size: 10px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(180, 175, 175);
    color: rgb(83, 0, 0);
    background-color: rgb(83, 0, 0);
    margin-right: -10px;
}

.volume6 {
    font-size: 10px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(180, 175, 175);
    color: red;
    background-color: red;
}

.title1 {
    font-size: 11px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    margin-top: 18px;
}

.title2 {
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    margin-top: 18px;
}

.box2 {
    display: flex;
    margin-top: 18px;
}

.price {
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    margin-right: 5px;
}

.price1 {
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.title2 a {
    color: black;
    text-decoration: none;
}

.title2 a:visited {
    color: black;
}

.title2 a:hover {
    color: rgb(178, 113, 113);
}

.title1:hover {
    color: rgb(178, 113, 113);
}

.box2:hover {
    color: rgb(178, 113, 113);
}